body {
  background-color: pink;
  flex-wrap: wrap;
  display:flex;
}
/* dane odnosnie tabeli */
table {
  border-collapse: collapse;
}

th {
  height: 70px;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
tr:nth-child(even) {background-color: red;}
th {
  background-color: black;
  color: white;
}
/* menu glowne */
.nav{
  background-color:magenta;
  margin: 10px;
  width: 10%;
}
/* tlo tabelki */
.tabelki{
  background-color: white;
  margin: 10px;
}
.wnetrze{
  margin: 4px;
}
.imie {
  background-color: rgba(85, 110, 255, 0.952);
  width: 100%;
  margin: 10px;
}
.listy{
  margin: 10px;
  width: 100%;
  background-color: wheat;
}
