body {
  background-color: pink;
}
.flexbox-containter1{
display: flex;
}
.flexbox-containter3{
  display: flex;
 
}
.flexbox-containter3 div{
  margin: 4px;
}
.flexbox-containter2 {
  display:flex;
}

/* dane odnosnie tabeli */
table {
  border-collapse: collapse;
}

th {
  height: 70px;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
tr:nth-child(even) {background-color: red;}
th {
  background-color: black;
  color: white;
}
/* menu glowne */

